<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoG</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <%- include("header.ejs")  %>

 <section class="main">
    <div class="container">
        <div class="section">
            <h2> <%= Dayname %> </h2>
        </div>
        <div class="list">
            <div class="grid-container">
          <% for(let i=0;i<newitems.length;i++){ %>  
           
                <div class="grid-item"  >
                    
                    <%= newitems[i] %> 
                    
                    <form id="deleteform" action="/delete" method="post">
                        
                        <input type="checkbox" class="checkbox" name="completedTasks" value="<%= newitems[i] %>">
                        <!-- <input  type="submit" value="D">  -->
                        <button type="submit" class="btn"><i class="fa fa-trash"></i></button>
                       </form>
                
                </div>


             <% } %>   
              
            </div>
        </div>
        <div class="input">
            <form class="mainform" action="/submit" method="post">

                <input type="text" id="userInput" name="userInput" required autocomplete="off" autofocus>
                <br>
                <!-- <input type="submit" id="userSubmit" value="Submit"> -->
                <button class="plus-button" type="submit" id="userSubmit" >+</button>
                
            </form>
        </div>
    </div>
 </section>
 <script src="/index.js" ></script>
</body>
</html>